<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music School</title>
    <meta name="description" content="">
    <link rel="shortcut icon" href="Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Syne&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div id="home">
            <div class="grid">
                    <div class="headermaindiv">
                        <div class="headersubdivone">
                            <div class="logomain">
                                <div class="logo">
                                    <img src="Logo.png" alt="Logo">
                                </div>
                                <div class="logoname">
                                    <h3>MUSIC SCHOOL</h3>
                                </div>
                            </div>
                        </div>
                        <div class="headersubdivtwo">
                            <div>
                                <ul class="headerflex">
                                    <li class=""><a href="#home">Home</a></li>
                                    <li class="marginright"><a href="#aboutus">About us</a></li>
                                    <li class=""><a href="#courses">Courses</a></li>
                                    <li class=""><a href="#teachers">Teachers</a></li>
                                    <li class=""><a href="#testimonials">Testimonial</a></li>
                                    <li><a href="/register"><button class="register">REGISTER</button></a></li>      
                                </ul>
                            </div>
                        </div>
                    </div>  
            </div>
            <div class="heroseccontent">
                <h4>WELCOME TO MUSICINE</h4>
                <h1>Learn The Music From The Masters</h1>
            </div> 
            <div class="herosecpic">
                <img src="herosection pic.png" alt="">
            </div>
        </div>
    </header>
    <main>
        <!-- ABOUT US -->
        <section>
            <div id="aboutus">
                <div class="grid">
                    <div class="aboutus">
                        <h2>ABOUT US</h2>
                    </div>
                    <div class="aboutmaindiv">
                        <div class="aboutsubdivone">
                            <img src="about us pic.png" alt="">
                        </div>
                        <div class="aboutsubdivtwo">
                            <div class="abouth2">
                                <h2>Learn The Music From The Core & Become Mastery</h2>
                            </div>
                            <div class="abouth4">
                                <p>We have so far trained thousands of students to live up to their dream as Professionals in a music career. We provide classroom and online music classes for kids and all age group of students.</p>
                            </div>
                            <div class="tickone">
                                <div class="tickcircleone">
                                    <img src="tick-circle.png" alt="">
                                </div>
                                <div class="contentone">
                                    <h3>Quality services and support all time</h3>
                                </div>
                            </div>
                            <div class="ticktwo">
                                <div class="tickcircletwo">
                                    <img src="tick-circle.png" alt="">
                                </div>
                                <div class="contenttwo">
                                    <h3>Expert team member</h3>
                                </div>                         
                            </div>
                            <div class="tickthree">
                                <div class="tickcirclethree">
                                    <img src="tick-circle.png" alt="">
                                </div>
                                <div class="contentthree">
                                    <h3>Lifetime online support</h3>
                                </div>
                            </div>                   
                        </div>          
                    </div> 
                </div>
            </div>
        </section> 

        <!-- COURSES -->
        <section>
            <div id="courses">
                <div class="grid">
                    <div class="Courses">
                        <h2>COURSES</h2>
                    </div>
                    <div class="Coursesdiv">
                        <div class="guitar">
                            <img src="GUITAR.png" alt="">
                            <h3>GUITAR</h3>
                        </div>
                        <div class="violin">
                            <img src="VIOLIN.png" alt="">
                            <h3>VIOLIN</h3>
                        </div>
                        <div class="piano">
                            <img src="PIANO.png" alt="">
                            <h3>PIANO</h3>
                        </div>
                        <div class="electricguitar">
                            <img src="ELECTRIC GUITAR.png" alt="">
                            <h3>ELECTRIC GUITAR</h3>
                        </div>
                        <div class="keyboard">
                            <img src="KEYBOARD.png" alt="">
                            <h3>KEYBOARD</h3>
                        </div>
                        <div class="drums">
                            <img src="DRUMS.png" alt="">
                            <h3>DRUMS</h3>
                        </div>
                        <div class="flute">
                            <img src="FLUTE.png" alt="">
                            <h3>FLUTE</h3>
                        </div>
                        <div class="tabla">
                            <img src="TABLA.png" alt="">
                            <h3>TABLA</h3>
                        </div>

                    </div>
                </div> 
            </div>
        </section>

        <!-- Meet Our Instructor -->
        <section>
            <div id="teachers">
                <div class="grid">
                    <div class="instructor">
                        <h2>Meet Our Instructor</h2>
                    </div>
                    <div class="instructordiv">
                        <div class="leftarrow">
                            <img src="arrow-left.png" alt="">
                        </div>
                        <div class="instructor1">
                            <img src="instructor 1.png" alt="">
                            <h3>Rufus Stewart</h3>
                            <h5>Guitar Instructor</h5>
                        </div>
                        <div class="instructor2">
                            <img src="instructor 2.png" alt="">
                            <h3>Liliya Grek</h3>
                            <h5>violin Instructor</h5>
                        </div>
                        <div class="instructor3">
                            <img src="instructor 3.png" alt="">
                            <h3>Marlon Alves</h3>
                            <h5>piano Instructor</h5>
                        </div>
                        <div class="rightarrow">
                            <img src="arrow-right.png" alt="">
                        </div>
                    </div>      
                </div>
            </div>
        </section>

        <!-- Students Speaks -->
        <section>
            <div id="testimonials">
                <div class="grid">
                    <div class="studentspeaks">
                        <h2>Students Speaks</h2>
                    </div>
                        <div class="studentpic">
                            <img src="student pic.png" alt="">
                        </div>
                        <div class="studentcontent">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore Ut enim ad minim veniam, quis 
                                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatu Excepteur sint occaecat cupidatat non <p>
                            <h3>Richard Noah</h3>
                        </div>
                        <div class="lines">
                            <div class="line1">
                                <img src="Line 1.png" alt="">
                            </div>
                            <div class="line2">
                                <img src="Line 2.png" alt="">
                            </div>
                            <div class="line3">
                                <img src="Line 3.png" alt="">
                            </div>
                        </div>
                </div>
                <div class="backgroundpic">
                    <img src="student speaks background pic.png" alt="">
                 </div>
            </div>
        </section>

    </main>
    <footer>   
            <div class="color">
                <div class="grid">
                    <div class="subcribeform">
                        <div class="subcribe">
                            <h4>Subcribe Today For Newsletter</h4>
                        </div>
                        <form action="">
                            <div>
                                <input type="email" placeholder="Your Email" class="youremail1">
                            </div>
                        </form>
                        <div class="messageicon">
                            <img src="message icon.png" alt="">
                        </div>
                    </div>
                    <div class="footerline">
                        <img src="footer line.png" alt="">
                    </div>
                    <div class="footermaindiv">
                        <div class="footersubdiv1">
                            <div class="logomain1">
                                <div class="logo1">
                                    <img src="Logo.png" alt="Logo">
                                </div>
                                <div class="logoname1">
                                    <h3>MUSIC SCHOOL</h3>
                                </div>
                            </div>
                            <div class="clpic1">
                                <img src="CL footer.png" alt="">
                            </div>
                            <div class="fotterleftcontent">
                                <p>We at  Music School believe in learning music as a roothold of our Indian culture and a path to the Divinity.We have a strong vision to provide “MUSIC FOR ALL” at affordable prices and flexible timings.</p>
                            </div>
                            <div class="followus">
                                <h4>Follow Us</h4>
                            </div>
                            <div class="socialpic">
                                <img src="social icon.png" alt="">
                            </div>
                        </div>
                        <div class="quickservicegalleryflex">
                            <div class="footersubdiv2">
                                <div class="quicklinks">
                                    <h5>Quick Links</h5>
                                </div>
                                <div class="clpic2">
                                    <img src="CL footer.png" alt="">
                                </div>
                                <div>
                                    <ul class="column1">
                                        <div class="homeflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="homea">
                                                <li><a href="">Home</a></li> 
                                            </div>
                                        </div>
                                        <div class="aboutusflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="aboutusa">
                                                <li><a href="">About us</a></li> 
                                            </div>
                                        </div>
                                        <div class="coursesflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="coursesa">
                                                <li><a href="">Courses</a></li> 
                                            </div>
                                        </div>
                                        <div class="teachersflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="teachersa">
                                                <li><a href="">Teachers</a></li> 
                                            </div>
                                        </div>
                                        <div class="testimonialflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="testimoniala">
                                                <li><a href="">Teachers</a></li> 
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div class="footersubdiv3">
                                <div class="ourservice">
                                    <h5>Our Service</h5>
                                </div>
                                <div class="clpic3">
                                    <img src="CL footer.png" alt="">
                                </div>
                                <div>
                                    <ul class="column2">
                                        <div class="ourserviceflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="ourservicea">
                                                <li><a href="">Our Service</a></li> 
                                            </div>
                                        </div>
                                        <div class="ourcoursesflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="ourcoursesa">
                                                <li><a href="">Our Courses</a></li> 
                                            </div>
                                        </div>
                                        <div class="sitemapflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="sitemapa">
                                                <li><a href="">Site Map</a></li> 
                                            </div>
                                        </div>
                                        <div class="ournewsflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="ournewsa">
                                                <li><a href="">Our News</a></li> 
                                            </div>
                                        </div>
                                        <div class="Contactflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="Contacta">
                                                <li><a href="">Contact</a></li> 
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div class="footersubdiv4">
                                <div class="ourgallery">
                                    <h5>Our Gallery</h5>
                                </div> 
                                <div class="clpic4">
                                    <img src="CL footer.png" alt="">
                                </div>
                                <div class="footerphoto">
                                    <a href=""><img src="photos footer.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
            </div>
            <div class="grid">
                <div class="copyright">
                    <p>©Copyright - All Right Reserved.Designed by Vikram</p>
                </div>
            </div>
    </footer>
</body>
</html>