<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend&family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Syne&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap" rel="stylesheet">
</head>
<body>

    <header>
        <div id="home">
            <div class="grid">
                    <div class="headermaindiv">
                        <div class="headersubdivone">
                            <div class="logomain">
                                <div class="logo">
                                    <img src="Logo.png" alt="Logo">
                                </div>
                                <div class="logoname">
                                    <h3>MUSIC SCHOOL</h3>
                                </div>
                            </div>
                        </div>
                        <div class="headersubdivtwo">
                            <div>
                                <ul class="headerflex">
                                    <li class=""><a href="/">Home</a></li>
                                    <li class="marginright"><a href="/aboutus">About us</a></li>
                                    <li class=""><a href="/courses">Courses</a></li>
                                    <li class=""><a href="/teachers">Teachers</a></li>
                                    <li class=""><a href="/testimonials">Testimonial</a></li>
                                    <li class=""><a href="/contact">Contact</a></li>
                                    <li><a href="/register"><button class="register">REGISTER</button></a></li>      
                                </ul>
                            </div>
                        </div>
                    </div>  
            </div>
            <div class="heroseccontent">
                <h4>WELCOME TO MUSICINE</h4>
                <h1>Learn The Music From The Masters</h1>
            </div> 
            <div class="herosecpic">
                <img src="herosection pic.png" alt="">
            </div>
        </div>
    </header>

    <!-- REGISTER -->
    
        <div class="grid">
            <div class="contact">
                <h2>Contact</h2>
            </div>
            <div class="contactflex">
                <div class="contactform">
                    <form action="/api/post" method="post">
                        <div class="contactflex1">
                            <div>
                                <input type="text" placeholder="First Name" class="firstname" name="firstname">
                            </div>
                            <div>
                                <input type="text" placeholder="Last Name" class="lastname" name="lastname">
                            </div>
                        </div>
                        <div class="contactflex2">
                            <div>
                                <input type="text" placeholder="Your Phone" class="yourphone" name="phonenumber">
                            </div>
                            <div>
                                <input type="email" placeholder="Your Email" class="youremail" name="email">
                            </div>
                        </div>
                        <div>
                            <input type="text" class="yourmessage" placeholder="Your Message" name="message">
                        </div>
                        <div>
                            <input type="submit" value="REGISTER" class="register1">
                        </div>
                    </form>
                </div>
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d345125.36741275515!2d79.95671893181354!3d13.04450274177314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5265ea4f7d3361%3A0x6e61a70b6863d433!2sChennai%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1704089161742!5m2!1sen!2sin" width="580" height="410" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>


        <footer>   
            <div class="color">
                <div class="grid">
                    <div class="subcribeform">
                        <div class="subcribe">
                            <h4>Subcribe Today For Newsletter</h4>
                        </div>
                        <form action="">
                            <div>
                                <input type="email" placeholder="Your Email" class="youremail1">
                            </div>
                        </form>
                        <div class="messageicon">
                            <img src="message icon.png" alt="">
                        </div>
                    </div>
                    <div class="footerline">
                        <img src="footer line.png" alt="">
                    </div>
                    <div class="footermaindiv">
                        <div class="footersubdiv1">
                            <div class="logomain1">
                                <div class="logo1">
                                    <img src="Logo.png" alt="Logo">
                                </div>
                                <div class="logoname1">
                                    <h3>MUSIC SCHOOL</h3>
                                </div>
                            </div>
                            <div class="clpic1">
                                <img src="CL footer.png" alt="">
                            </div>
                            <div class="fotterleftcontent">
                                <p>We at  Music School believe in learning music as a roothold of our Indian culture and a path to the Divinity.We have a strong vision to provide “MUSIC FOR ALL” at affordable prices and flexible timings.</p>
                            </div>
                            <div class="followus">
                                <h4>Follow Us</h4>
                            </div>
                            <div class="socialpic">
                                <img src="social icon.png" alt="">
                            </div>
                        </div>
                        <div class="quickservicegalleryflex">
                            <div class="footersubdiv2">
                                <div class="quicklinks">
                                    <h5>Quick Links</h5>
                                </div>
                                <div class="clpic2">
                                    <img src="CL footer.png" alt="">
                                </div>
                                <div>
                                    <ul class="column1">
                                        <div class="homeflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="homea">
                                                <li><a href="">Home</a></li> 
                                            </div>
                                        </div>
                                        <div class="aboutusflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="aboutusa">
                                                <li><a href="">About us</a></li> 
                                            </div>
                                        </div>
                                        <div class="coursesflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="coursesa">
                                                <li><a href="">Courses</a></li> 
                                            </div>
                                        </div>
                                        <div class="teachersflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="teachersa">
                                                <li><a href="">Teachers</a></li> 
                                            </div>
                                        </div>
                                        <div class="testimonialflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="testimoniala">
                                                <li><a href="">Teachers</a></li> 
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div class="footersubdiv3">
                                <div class="ourservice">
                                    <h5>Our Service</h5>
                                </div>
                                <div class="clpic3">
                                    <img src="CL footer.png" alt="">
                                </div>
                                <div>
                                    <ul class="column2">
                                        <div class="ourserviceflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="ourservicea">
                                                <li><a href="">Our Service</a></li> 
                                            </div>
                                        </div>
                                        <div class="ourcoursesflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="ourcoursesa">
                                                <li><a href="">Our Courses</a></li> 
                                            </div>
                                        </div>
                                        <div class="sitemapflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="sitemapa">
                                                <li><a href="">Site Map</a></li> 
                                            </div>
                                        </div>
                                        <div class="ournewsflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="ournewsa">
                                                <li><a href="">Our News</a></li> 
                                            </div>
                                        </div>
                                        <div class="Contactflex">
                                            <div class="arrowfooter">
                                                <img src="Right arrow footer.png" alt="">
                                            </div>
                                            <div class="Contacta">
                                                <li><a href="">Contact</a></li> 
                                            </div>
                                        </div>
                                    </ul>
                                </div>
                            </div>
                            <div class="footersubdiv4">
                                <div class="ourgallery">
                                    <h5>Our Gallery</h5>
                                </div> 
                                <div class="clpic4">
                                    <img src="CL footer.png" alt="">
                                </div>
                                <div class="footerphoto">
                                    <a href=""><img src="photos footer.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
            </div>
            <div class="grid">
                <div class="copyright">
                    <p>©Copyright - All Right Reserved.Designed by Vikram</p>
                </div>
            </div>
    </footer>
</body>
</html>