* {
    margin: 0;
    padding: 0;
}

.grid {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    /* background-color: rgb(217, 191, 191);  */
}

.logomain {
    display: flex;
}

.logo {
    margin-top: 9px;
}

.logo img {
    width: 100%;
    width: 30px;
}

.logoname {
    font-family: 'Lexend', sans-serif;
    width: 45%;
    font-size: 15px;
    margin-left: 5px;
    letter-spacing: 1.5px;
}

.headerflex {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
}

.headerflex li {
    list-style-type: none;
    margin-top: 10px;
    margin-right: 60px;
}

.headerflex li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.marginright {
    width: 82px;
}

.headermaindiv {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.register {
    padding: 5px;
    background-color: #F44D29;
    color: white;
    border: none;
    border-radius: 3px;
    width: 110px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: -15px;
    cursor: pointer;
}

.heroseccontent {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    padding-top: 190px;
    padding-left: 160px;
    width: 30%;
}

.heroseccontent h4 {
    color: #F44D29;
    font-size: 20px;
}

.heroseccontent h1 {
    color: white;
    font-size: 60px;
}

.herosecpic img {
    width: 100%;
    height: 700px;
    margin-top: 10px;
}

.aboutus {
    padding-top: 50px;
    font-family: 'Syne', sans-serif;
    color: #F44D29;
    font-size: 20px;
    text-align: center;
}

.aboutmaindiv {
    display: flex;
    margin-top: 50px;
}

.aboutsubdivone {
    width: 1440px;
}

.aboutsubdivone img {
    width: 100%;
}

.aboutsubdivtwo {
    margin-left: 25px;
    font-family: 'Poppins', sans-serif;
}

.abouth2 {
    font-size: 20px;
    margin-top: 60px;
}

.abouth4 {
    margin-top: 20px;
}

.tickone {
    display: flex;
    margin-top: 20px;
}

.tickcircleone img {
    width: 100%;
}

.ticktwo {
    display: flex;
    margin-top: 10px;
}

.tickcircletwo img {
    width: 100%;
}

.tickthree {
    display: flex;
    margin-top: 10px;
}

.tickcirclethree img {
    width: 100%;
}

.contentone {
    padding-top: 6px;
    padding-left: 5px;
}

.contenttwo {
    padding-top: 6px;
    padding-left: 5px;
}

.contentthree {
    padding-top: 6px;
    padding-left: 5px;
}

.Courses {
    padding-top: 50px;
    font-family: 'Syne', sans-serif;
    color: #F44D29;
    font-size: 20px;
    text-align: center;
}

.Coursesdiv {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.guitar,
.violin,
.piano,
.keyboard,
.drums,
.flute,
.tabla {
    padding: 40px 120px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    margin-bottom: 40px;
}

.electricguitar {
    padding: 40px 90px;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    margin-bottom: 40px;
}

.guitar img,
.violin img,
.piano img,
.electricguitar img,
.keyboard img,
.drums img,
.flute img,
.tabla img {
    width: 100%;
    width: 100px;
}

.electricguitar img {
    margin-left: 25px;
}

.guitar h3,
.violin h3,
.piano h3,
.keyboard h3,
.drums h3,
.flute h3,
.tabla h3 {
    padding-top: 18px;
    text-align: center;
    font-family: 'Syne', sans-serif;
}

.electricguitar h3 {
    padding-top: 18px;
    font-family: 'Syne', sans-serif;

}

.instructor {
    padding-top: 50px;
    font-family: 'Syne', sans-serif;
    color: #F44D29;
    font-size: 20px;
    text-align: center;
}

.instructordiv {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.leftarrow img,
.rightarrow img {
    width: 100%;
    margin-top: 180px;
    width: 40px;
}

.instructor1,
.instructor2,
.instructor3 {
    width: 300px;
}

.instructor1 img,
.instructor2 img,
.instructor3 img {
    width: 100%;
}

.instructor1 h3 {
    margin-top: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 25px;
}

.instructor1 h5 {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 15px;
}

.instructor2 h3 {
    margin-top: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 25px;
}

.instructor2 h5 {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 15px;
}

.instructor3 h3 {
    margin-top: 15px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 25px;
}

.instructor3 h5 {
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 15px;
}
.studentspeaks {
    padding-top: 50px;
    font-family: 'Syne', sans-serif;
    color: #F44D29;
    font-size: 20px;
    text-align: center;
}

.studentpic {
    position: absolute;
    margin-top: 130px;
    margin-left: 640px;
}

.studentpic img {
    width: 100%;
}

.studentcontent {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-top: 380px;
    margin-left: 440px;
    width: 560px;
    text-align: center;
}

.studentcontent h3 {
    font-size: 25px;
    margin-top: 70px;
    text-align: center;
}

.lines {
    display: flex;
    position: absolute;
    margin-top: 650px;
    margin-left: 650px;
    gap: 15px;
}

.line1 img,
.line2 img,
.line3 img {
    width: 100%;
}

.backgroundpic img {
    width: 100%;
    margin-top: 50px;
}

.contact {
    padding-top: 50px;
    font-family: 'Syne', sans-serif;
    color: #F44D29;
    font-size: 20px;
    text-align: center;
}

.firstname,
.lastname {
    padding: 12px 30px 12px 10px;
    border-radius: 5px;
    border: 2px solid #F44D29;
    font-family: 'Poppins', sans-serif;
    width: 235px;
    outline: none;
}

.yourphone,
.youremail {
    padding: 12px 30px 12px 10px;
    border-radius: 5px;
    border: 2px solid #F44D29;
    font-family: 'Poppins', sans-serif;
    width: 235px;
    margin-top: 20px;
    outline: none;
}

.yourmessage {
    padding: 12px 30px 150px 10px;
    border-radius: 5px;
    border: 2px solid #F44D29;
    color: #757575;
    font-family: 'Poppins', sans-serif;
    width: 542px;
    margin-top: 20px;
    outline: none;
}

.register1 {
    padding: 5px;
    background-color: #F44D29;
    border: none;
    border-radius: 3px;
    width: 110px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.contactflex1,
.contactflex2 {
    display: flex;
    gap: 30px;
}

.contactflex {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.contactform{
    padding-top: 20px;
}

.color {
    background-color: #151F26;
    margin-top: 50px;
}

.subcribe {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 25px;
    letter-spacing: 4px;
    margin-left: 20px;
    margin-top: 30px;
}

.youremail1 {
    padding: 12px 30px 12px 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    width: 430px;
    outline: none;
    margin-top: 30px;
    margin-left: 416px;
}

.subcribeform {
    display: flex;
}

.messageicon {
    position: absolute;
    width: 45px;
    margin-left: 1354px;
    margin-top: 34px;
}

.messageicon img {
    width: 100%;
}

.footerline img {
    width: 100%;
    margin-top: 30px;
}

.logoname1 {
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 3px;
    margin-left: 5px;
    letter-spacing: 1.5px;
}

.logomain1 {
    display: flex;
}

.logo1 img {
    width: 100%;
    width: 30px;
}

.clpic1 img {
    width: 100%;
    width: 50px;
}

.fotterleftcontent {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    color: white;
    width: 330px;
}

.followus {
    margin-top: 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.socialpic img {
    width: 100%;
    width: 150px;
}

.quicklinks {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.column1 {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

.column1 li {
    list-style-type: none;
}

.column1 li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.homeflex,
.aboutusflex,
.coursesflex,
.teachersflex,
.testimonialflex {
    display: flex;
}

.homea,
.aboutusa,
.coursesa,
.teachersa,
.testimoniala {
    margin-top: 8px;
}

.arrowfooter img {
    width: 100%;
    width: 40px;
}

.ourservice {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.column2 {
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
}

.column2 li {
    list-style-type: none;
}

.column2 li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.ourserviceflex,
.ourcoursesflex,
.sitemapflex,
.ournewsflex,
.Contactflex {
    display: flex;
}

.ourservicea,
.ourcoursesa,
.sitemapa,
.ournewsa,
.Contacta {
    margin-top: 8px;
}

.ourgallery {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.footerphoto img {
    width: 100%;
    width: 250px;
    margin-top: 22px;
}

.footermaindiv {
    display: flex;
    justify-content: space-around;
}

.quickservicegalleryflex {
    display: flex;
    justify-content: space-evenly;
    gap: 150px;
}

.footersubdiv1 {
    margin-top: 40px;
    margin-left: 15px;
}

.footersubdiv2,
.footersubdiv3 {
    margin-top: 40px;
}

.footersubdiv4 {
    margin-top: 40px;
    margin-right: 20px;
}

.clpic2,
.clpic3,
.clpic4 {
    width: 100%;
    width: 50px;
    margin-top: 7px;
}

.copyright {
    color: black;
    
    font-size: 14px;
    text-align: center;
    margin: 20px 0px;
}

.details{
    font-family: 'Poppins', sans-serif;
}

table{
    width: 90%;
    margin: 50px auto;
    padding: 10px 8px; 
}

th{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 10px 8px; 
}

td{
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    padding: 10px 8px; 
}

table,th,td{
    border: 3px solid #F44D29; 
    border-collapse: collapse;  
}

.inquiry{
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
}

.inquiry h2{
    color: #F44D29;
}

.backbtn button{
    padding: 10px 20px;
    background-color: #F44D29;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.backbtn{
    text-align: center;
}



@media screen and (max-width:500px) {

    .contactflex1,
    .contactflex2,
    .contactflex,
    .footermaindiv {
        display: block;
    }

    .logo img {
        width: 20px;
        margin-left: 2px;
    }

    .logoname {
        font-size: 8px;
        margin-top: 8px;
    }

    .headerflex li a {
        font-size: 7px;
    }

    .headerflex li {
        margin-top: 5px;
        margin-right: 10px;
    }

    .marginright {
        width: 36px;
    }

    .register {
        width: 40px;
        font-size: 7px;
    }

    .herosecpic img {
        height: auto;
    }

    .heroseccontent h4 {
        font-size: 10px;
    }

    .heroseccontent h1 {
        font-size: 20px;
    }

    .heroseccontent {
        padding-top: 58px;
        padding-left: 40px;
        width: 122px;
    }

    .aboutus {
        padding-top: 15px;
        font-size: 12px;
    }

    .aboutsubdivone {
        width: 300px;
    }

    .aboutsubdivtwo {
        margin-left: 10px;
        margin-top: -61px;
    }

    .abouth2 {
        font-size: 8px;
    }

    .abouth4 {
        display: none;
    }

    .tickone {
        margin-top: 10px;
    }

    .contentone h3,
    .contenttwo h3,
    .contentthree h3 {
        font-size: 8px;
    }

    .tickcircleone img,
    .tickcircletwo img,
    .tickcirclethree img {
        width: 10px;
    }

    .aboutmaindiv {
        margin-top: 10px;
    }

    .Courses {
        padding-top: 15px;
        font-size: 12px;
    }

    .flute,
    .tabla{
        display: none;
    }

    .Coursesdiv {
        display: flex;
        margin-top: 20px;
    }

    .guitar img,
    .violin img,
    .piano img,
    .electricguitar img,
    .keyboard img,
    .drums img {
        width: 49px;
    }

    .electricguitar img {
        margin-left: 16px;
    }

    .guitar,
    .violin,
    .piano,
    .keyboard,
    .drums,
    .piano {
        padding: 15px 54px;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    .electricguitar {
        padding: 15px 37px;
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        margin-bottom: 30px;
    }

    .guitar h3,
    .violin h3,
    .piano h3,
    .electricguitar h3,
    .keyboard h3,
    .drums h3 {
        font-size: 10px;
    }

    .instructor {
        padding-top: 0px;
        font-size: 12px;
    }

    .instructor1 img,
    .instructor2 img,
    .instructor3 img {
        width: 100px;
    }

    .instructor1 h3,
    .instructor2 h3,
    .instructor3 h3 {
        margin-top: 5px;
        font-size: 12px;
    }

    .instructor1 h5,
    .instructor2 h5,
    .instructor3 h5 {
        margin-top: 2px;
        font-size: 8px;
    }

    .instructordiv {
        margin-top: 20px;
    }

    .leftarrow img,
    .rightarrow img {
        margin-top: 60px;
        width: 25px;
    }

    .instructor1,
    .instructor2,
    .instructor3 {
        width: 100px;
    }

    .studentspeaks {
        padding-top: 15px;
        font-size: 12px;
    }

    .backgroundpic img {
        margin-top: 20px;
    }

    .studentpic img {
        width: 50px;
    }

    .studentpic {
        margin-top: 40px;
        margin-left: 181px;
    }

    .studentcontent {
        margin-top: 105px;
        margin-left: 102px;
        width: 210px;
        font-size: 6px;
    }

    .studentcontent h3 {
        font-size: 12px;
        margin-top: 15px;
        margin-left: 0px;
    }

    .lines {
        margin-top: 177px;
        margin-left: 167px;
    }

    .line1 img,
    .line2 img,
    .line3 img {
        width: 15px;
        gap: 7px;
    }

    .contact {
        padding-top: 15px;
        font-size: 12px;
    }

    .contactflex {
        margin-top: 20px;
    }

    .firstname,
    .yourphone,
    .youremail {
        padding: 10px 50px 10px 10px;
        margin-left: 37px;
        font-size: 10px;
    }

    .lastname {
        padding: 10px 50px 10px 10px;
        margin-left: 37px;
        margin-top: 20px;
        font-size: 10px;
    }

    .yourmessage {
        padding: 12px 30px 0px 10px;
        width: 255px;
        height: 100px;
        margin-left: 37px;
        font-size: 10px;
    }

    .register1 {
        width: 70px;
        margin-left: 148px;
        font-size: 12px;
    }
    .map iframe {
        width: 100%;
        height: 340px;
        margin-top: 20px;
    }

    .subcribe {
        font-size: 12px;
        letter-spacing: 0px;
        padding-top: 0px;
        margin-left: 0px;
    }

    .subcribe h4 {
        width: 184px;
    }

    .youremail1 {
        width: 132px;
        padding: 7px 30px 6px 10px;
        margin-top: 24px;
        margin-left: 14px;
        font-size: 8px;
    }

    .messageicon {
        width: 26px;
        margin-left: 341px;
        margin-top: 26px;
    }

    .logo1 img {
        width: 20px;
    }

    .logoname1 {
        font-size: 10px;
        margin-top: 2px;
        letter-spacing: 0px;
    }

    .clpic1 img,
    .clpic2 img,
    .clpic3 img,
    .clpic4 img {
        width: 40px;
    }

    .fotterleftcontent {
        margin-top: 8px;
        width: 335px;
        font-size: 10px;
    }

    .footersubdiv1 {
        margin-top: 20px;
        margin-left: 10px;
    }

    .followus {
        margin-top: 18px;
        font-size: 12px;
    }

    .socialpic img {
        width: 85px;
    }

    .quicklinks,
    .ourservice {
        font-size: 10px;
    }

    .column1,
    .column2 {
        margin-top: 2px;
    }

    .arrowfooter img {
        width: 30px;
    }

    .column1 li a,
    .column2 li a {
        font-size: 8px;
    }

    .homea,
    .aboutusa,
    .coursesa,
    .teachersa,
    .testimoniala,
    .ourservicea,
    .ourcoursesa,
    .sitemapa,
    .ournewsa,
    .Contacta {
        margin-top: 2px;
    }
    .footersubdiv2, .footersubdiv3,.footersubdiv4{
        margin-top: 25px;
    }

    .ourgallery {
        font-size: 12px;
    }

    .footerphoto img {
        width: 192px;
        margin-top: 10px;
    }

    .quickservicegalleryflex {
        gap: 10px;
    }

    .footersubdiv4 {
        margin-right: 5px;
    }

    .copyright {
        font-size: 10px;
        margin: 10px 0px;
    }


    .inquiry h2{
        font-size: 15px;
    }

   th {
    font-size: 7px;
   }

   td {
    font-size: 6px;
   }

   .backbtn button{
    padding: 5px 10px;
    font-size: 12px;
   }
}